<div>
    <h2>Adicionar Cliente</h2>
</div>
<form name="detalhesForm" ng-submit="detalhesForm.$valid" novalidate>
    <div ng-controller="detalhesClienteController" class="form-horizontal">
        <hr />
        <div class="form-group" ng-show="cliente.Id > 0">
            <label class="control-label col-md-2">ID:</label>
            <div class="col-md-1">
                <input id="nome" class="form-control" type="text" data-ng-model="cliente.Id" ng-disabled="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nome:</label>
            <div class="col-md-3">
                <input id="nome" class="form-control" type="text" data-ng-model="cliente.Nome" placeholder="Informe o nome..." required />
            </div>
            <label class="control-label col-md-2">CPF:</label>
            <div class="col-md-3">
                <input id="nome" class="form-control" type="text" data-ng-model="cliente.CPF" placeholder="Informe o CPF..." required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Telefone:</label>
            <div class="col-md-3">
                <input id="nome" class="form-control" type="text" data-ng-model="cliente.Telefone" placeholder="Informe o telefone..." required />
            </div>
            <label class="control-label col-md-2">E-mail:</label>
            <div class="col-md-3">
                <input id="nome" class="form-control" type="text" data-ng-model="cliente.Email" placeholder="Informe o e-mail..." required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Estado</label>
            <div class="col-md-3">
                <select ng-model="estadoSelecionado" ng-options="estado.Nome for estado in estados" class="form-control"></select>
            </div>
            <label class="control-label col-md-2">Cidade</label>
            <div class="col-md-3">
                <select ng-model="cidadeSelecionada" ng-options="cidade.Nome for cidade in cidades" class="form-control"></select>
                
                <!--<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>-->
                <!--<select ng-model="selectedName" ng-options="item for item in names"></select>-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default btn-info" type="button" data-ng-click="salvar(cliente)" ng-disabled="detalhesForm.$invalid">Salvar</button>
                <button ng-click="voltar()" class="btn btn-default btn-info" type="submit">Voltar</button>
            </div>
        </div>
    </div>
</form>