<div ng-controller="listaController" ng-init="obterLivros()">
    <h2>Livros</h2>
    <div class="form-group">
        <label>Filtrar</label>
        <input type="text" ng-model="filtro" ng-change="pesquisaAlterada()" class="form-control" placeholder="Digite para filtrar...">
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-bordered table-hover no-margin">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Ano de Publicação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="livro in livros">
                    <td>{{livro.Id}}</td>
                    <td>{{livro.Titulo}}</td>
                    <td>{{livro.AnoPublicacao}}</td>
                    <td>
                        <a href="#livros/detalhes/{{livro.Id}}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <button ng-click="excluir(livro)" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h5>Página {{currentPage}} de {{numPages}}</h5>
        <uib-pagination total-items="totalItens" ng-model="currentPage" ng-change="paginaAlterada()" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
    </div>
</div>


