<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Script/Jquery/jquery-2.2.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="~/Script/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Script/Bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Script/Bootbox/bootbox.js"></script>
    <script src="~/Script/AngularJS/angular.min.js"></script>
    <script src="~/Script/AngularJS/angular-route.js"></script>
    <script src="~/Script/Angular ui/ui-bootstrap-tpls-1.3.3.js"></script>
    
    <!-- plugin para adicinar máscaras-->
    <script src="~/Script/Jquery/MaskedInput/jquery.maskedinput.min.js"></script>
    <!---->

    <!-- plugin para validação Jquery ValidationEngine-->
    <link href="~/Script/Jquery/ValidationEngine/css/validationEngine.jquery.css" rel="stylesheet" />
    <script src="~/Script/Jquery/ValidationEngine/js/jquery.validationEngine-pt_BR.js"></script>
    <script src="~/Script/Jquery/ValidationEngine/js/jquery.validationEngine.js"></script>
    <!---->

    <script src="~/app/Modulo.js"></script>
    <script src="~/app/services/livro-service.js"></script>
    <script src="~/app/controllers/Livro/lista-controller.js"></script>
    <script src="~/app/controllers/Livro/detalhes-controller.js"></script>
    <script src="~/app/services/cliente-service.js"></script>
    <script src="~/app/controllers/Cliente/lista-controller.js"></script>
    <script src="~/app/controllers/Cliente/detalhes-controller.js"></script>
    <script src="~/app/services/estado-service.js"></script>
    <script src="~/app/services/cidade-service.js"></script>
    <script src="~/app/directives/mask.js"></script>

    <script type="text/javascript">
    $(function () {

        $("form").validationEngine('attach');
        

        bootbox.setDefaults({
            title: "Atenção",
            locale: "br"
        });
    });
    </script>

</head>
<body>
    <form name="form" ng-submit="form.$valid" novalidate>
        <div class="container body-content">
            <div ng-view></div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Biblioteca Pombus</p>
            </footer>
        </div>
    </form>
</body>
</html>